:root {
  --admin-sidemenu-width: 200px;
  --admin-sidemenu-height: 100vh;
  --admin-topbar-width: calc(100vw - var(--admin-sidemenu-width));
  --admin-topbar-height: 50px;

  --admin-sidemenu-background: #343a40!important;
  --admin-sidemenu-background-dark: #262b30!important;
}

html,
body {
  height: 100%;
}

textarea {
  min-height: 80px;
  height: 200px;
}

textarea.summary {
  height: 80px !important;
}

.selected {
  background-color: #444c53 !important;
}

.selected-sub {
  background-color: #d2d9e0 !important;
}

.fas,
.fab {
  width: 22px;
  text-align: center;
  margin-right: 5px;
  box-shadow: #262b30;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;

  width: var(--admin-topbar-width);
  height: var(--admin-topbar-height);
  position: fixed;
  background-color: white;
  top: 0;
  left: 200px;
  z-index: 1;

  -webkit-box-shadow: 0px -3px 7px 4px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px -3px 7px 4px rgba(0, 0, 0, 0.14);
  box-shadow: 0px -3px 7px 4px rgba(0, 0, 0, 0.14);
}

.dashboard-header ul {
  padding: 0 20px;
}

.dashboard-header li {
  padding: 3px 8px;
  z-index: 2;
}

.logo-bg {
  width: var(--admin-sidemenu-width);
  height: var(--admin-topbar-height);
  background-color: var(--admin-sidemenu-background-dark);
  text-align: center;
}

.logo-bg > a:hover,
ul li a:hover {
  text-decoration: none;
}

.dashboard-side-menu {
  width: var(--admin-sidemenu-width);
  position: fixed;
  top: 0;
  left: 0;
  height: var(--admin-sidemenu-height);
  z-index: 1;
}

.dashboard-wrapper {
  position: absolute;
  top: var(--admin-topbar-height);
  left: var(--admin-sidemenu-width);
  height: calc(100vh - var(--admin-topbar-height));
  width: calc(100vw - var(--admin-sidemenu-width));
  padding: 3%;
}

.about-avatar {
  width: 50px;
}

.admin-image {
  width: 10%;
}

.cover-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-color: #262b30;
}

@media (max-width: 780px) {
  .dashboard-header {
    position: absolute;
  }

  .logo-bg {
    background-color: #262b3000;
    text-align: left !important;
    padding-left: 2% !important;
  }

  .dashboard-side-menu {
    width: 100%;
    position: relative;
    height: auto;
    margin-top: 0;
  }

  .dashboard-wrapper {
    position: relative;
    width: 100%;
    left: 0;
    padding: 5%;
    height: auto;
  }
}
