html, body {
    height: 100%;
}

textarea {
    min-height: 80px;
    height: 200px;
}

textarea.summary {
    height: 80px !important;
}

/* .bg-ldark {
    background-color: #5b6269 !important;
} */

.selected {
    background-color: #444c53 !important;
}

.dashboard-header {
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.dashboard-header li > a {
    position: absolute;
    right: 2%;
    top: 5%;
    z-index: 2;
    color: white;
}

.logo-bg {
    width: 200px;
    height: 100%;
    background-color: #262b30;
    text-align: center;
}

.logo-bg > a:hover, ul li a:hover {
    text-decoration: none;
}

/* 
.dashboard-content {
    height: 95%;
}
*/

.dashboard-side-menu {
    width: 200px;
    position: fixed;
    top: 30px;
    left: 0;
    height: calc(100% - 30px);
    z-index: 1;

}

.dashboard-wrapper {
    position: absolute;
    top: 30px;
    left: 200px;
    height: calc(100% - 30px);
    width: calc(100% - 200px);
    padding: 3%;
}

.about-avatar {
    width: 50px;
}

.admin-image {
    width: 10%;
}

@media (max-width: 780px) {
    .dashboard-header {
        position: absolute;
    }

    .logo-bg {
        background-color: #262b3000;
        text-align: left !important;
        padding-left: 2% !important;
    }

    .dashboard-side-menu {
        width: 100%;
        position: relative;
        height: auto;
        margin-top: 0;
    }
    
    .dashboard-wrapper {
        position: relative;
        width: 100%;
        left: 0;
        padding: 5%;
        height: auto;
    }
}
